@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFF1;
  --roxo-rosa: #D4A4E2;
  --roxo-claro: #BCB3DF;
  --roxo: #8373C2;
  --verde-claro: #C6E6A3;
  --roxo-escuro: #201F4B;
}

@media (prefers-color-scheme: white) {
  :root {
  --background: #FFFFF1;
  --roxo-rosa: #D4A4E2;
  --roxo-claro: #BCB3DF;
  --roxo: #8373C2;
  --verde-claro: #C6E6A3;
  --roxo-escuro: #201F4B;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Poppins, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
